Source: bazaar-of-scripts
Section: x11
Priority: extra
Maintainer: Angel Berlanas Vicente <angel.berlanas@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.3

Package: bazaar-of-scripts
Architecture: any
Depends: ${misc:Depends},${shlibs:Depends}, ${python:Depends}
Description: Some utilities.
 This is a simple package that contains some scripts useful for 
 people who loves the command line.

